<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Vorgänge") %>

<h1>Neuer Vorgang</h1>

<%= render 'form' %>

<%= link_to 'Zurück', jobs_path %>
    <% end %>
<% end %>