<li id="event">
  <% if current_user?(users_path) %>
      <div style="width: auto">
        <table id="events" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Anlass</th>
            <th>Persönliche Wünsche</th>
            <th>Anzahl der Gäste</th>
            <th>Datum des Events</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @events.find_by(:user_id) do |event| %>
              <tr>
                <td><%= event.name %></td>
                <td><%= event.eventtext %></td>
                <td><%= event.guest %></td>
                <td><%= event.deadline %></td>
                <td><%= link_to 'Anzeigen', event %></td>
                </tr>
          <% end %>
          </tbody>
        </table>
        <br>
        <%= button_to 'Neues Event anlegen', new_event_path, method: :get, :class => "btn btn-primary" %>
        <br><br>
  </div>
  <% end %>
</li>

