<% if logged_in? %>
    <%= form_for(@event) do |f| %>
        <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

              <ul>
                <% @event.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label 'Anlass' %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :eventtext, "Hier ist Raum für Ihre Träume bezüglich Ihres Events:" %><br>
          <%= f.text_area :eventtext%>
        </div>
        <div class="field">
          <%= f.label :guest, 'Anzahl der Gäste' %><br>
          <%= f.number_field :guest,type: "number", min:0%>
        </div>
        <div class="field">
          <%= f.label :deadline, 'Datum des Events' %><br>
          <%= f.date_select :deadline, prompt: { day: 'Tag', month: 'Monat', year: 'Jahr' }, start_year:2017 %>
        </div>

        <div class="actions">
          <%= f.submit 'Event anlegen oder aktualisieren', {:class => "btn btn-primary"} %>
        </div>
    <% end %>
<% end %>
