<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "GAMS-Pfad") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>GAMS-Pfad:</strong>
  <%= @gams_path.gams_path_url %>
</p>

<%= link_to 'Ändern', edit_gams_path_path(@gams_path) %> |
<%= link_to 'Zurück', gams_paths_path %>
    <% end %>
<% end %>