body {
  background-color: #fff;
  color: #333;
  font-family: "Century Gothic";
  font-size: 13px;
  line-height: 18px;
}

.navbar {
  background-color: #17375e !important;
  border-color: #17375e !important;
}

thead {
  font-family: "Century Gothic";
  color: #17375e;
  background-color: white;
}

p, ol, ul, td {
  font-family: "Century Gothic";
  font-size: 15px;
  line-height: 18px;
}

pre {
  font-family: "Century Gothic";
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-family: "Century Gothic";
  color: #17375e;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #17375e;
  }
}

div {
  font-family: "Century Gothic";
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  font-family: "Century Gothic";
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  font-family: "Century Gothic";
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    font-family: "Century Gothic";
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-family: "Century Gothic";
    font-size: 12px;
    list-style: square;
  }
}

div.centerwrapper {
  font-family: "Century Gothic";
  width: 80%;
  margin: auto;
  position: center;
}

div.below {
  font-family: "Century Gothic";
  clear: both;
  text-align: center;
}

.button {
  font-family: "Century Gothic";
  width: 200px;
  margin: auto;
}
